
<h1 class="h3 mb-3 fw-normal">Logga in</h1>
<form action="javascript:void(0);">
  <app-text-input [label]="'Användarnamn'" [model]="username" (model)="username = $event"></app-text-input>
  <app-text-input [label]="'Lösenord'" [model]="password" (model)="password = $event" (enterPressed)="signIn()" [type]="'password'"></app-text-input>
  <button mat-raised-button color="primary" (click)="signIn()">Logga in</button>
</form>
